<div class="whatsapp">
    <img src="assets/images/backGround/whatsapp.png" class="imgWhatsapp" alt="">
</div>

<div class="back">
    <div class="back1 imgLogo">
        <img src="assets/images/backGround/JeepLogo.png" class="">
    </div>

    <div class="back2 imgLogo">
        <img src="assets/images/backGround/FordLogo.png" class="">
    </div>

    <div class="back3 imgLogo">
        <img src="assets/images/backGround/ChevLogo.png" class="">
    </div>

    <div class="back4 imgLogo">
        <img src="assets/images/backGround/jacLogo.png" class="">
    </div>
    <div class="back5 imgLogo">
        <img src="assets/images/backGround/hyundai.png" class="">
    </div>
</div>

<div class="backM3">
    <img src="assets/images/backGround/jeepOverview.png" width="100%" alt="">
</div>
<div class="windowEmerg">
    <div class="body">
        <div class="logos">
            <img src="assets/images/backGround/calidad.png">
            <!-- <img src="assets/images/backGround/FordLogo.png" width="80px" height="30px" class="">
      <img src="assets/images/backGround/ChevLogo.png" width="80px" height="35px" class=""> -->
        </div>

        <div [ngClass]="{ tituloSomosGarantia: activegarantia === 0, 
            tituloSomosGarantiaFrame: activegarantia === 1 }">
            SOMOS GARANTÍA DE CALIDAD Y EXCELENCIA CHINA
            <div class="lideres">
                LÍDERES DE VENEZUELA EN AUTOPARTES
            </div>
        </div>
        <div class="search">
            <button class="button">
                DESCUBRE MÁS
                <div class="arrow rightArrow">

                </div>
            </button>
        </div>
    </div>
</div>

<div class="backJeepTest">
    <div class="backJeep1">
        <div class="interroga1">
            <div class="letras">
                <div [ngClass]="{ tituloLetras: activatetodoterreno === 0, 
                    tituloLetrasFrame: activatetodoterreno === 1 }" class="wrap">
                    <div>TIENES <br> UN</div>            
                </div>
                <div class="contenidoLetras">
                    <br>
                    Ofrecemos productos de la mejor 
                    calidad. Trabajamos con las mejores marcas.
                     Repara y equipa tu rustico 4x4.
                    <ul>
                        <li>
                            Crucetas
                        </li>
                        <li>
                            Cardanes
                        </li>
                        <li>
                            Muñones
                        </li>
                        <li>
                            Guardafangos
                        </li>
                        <li>
                            Amortiguadores
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="backJeep2">
        <img src="assets/images/backGround/jeepImg.png" alt="">
    </div>
    <div class="backJeep3">   
        <div class="backJ">
            
            <div [ngClass]="{ letras2: activatetodoterreno === 0, 
                letras2Frame: activatetodoterreno === 1 }">
                <div class="contenidoLetras2">
                    En DajoCars sabemos lo importante que
                    es tu rustico. Ofrecemos repuestos y servicios
                    de calidad para ayudarte a optimizar el rendimiento
                    de tu camioneta. Nos especializamos en darte 
                    lo mejor y garantizar la durabilidad.
                </div>
                <div class="wrap tituloLetras2">
                    <div>TODO<br>TERRENO</div>            
                </div>
        
            </div>
        </div> 
    </div>
    
    <div class="inte1">
        <img src="assets/images/backGround/interroga1.png" alt="">
    
    </div>
<div class="inte2">
    <img src="assets/images/backGround/interroga2.png" alt="">

</div>

</div>

<div class="backBlack">
    <div class="backChasis">
        <img src="assets/images/backGround/backJeep.png" alt="">
    </div>
    <div class="backChasis2">
        <img src="assets/images/backGround/backJeep.png" alt="">
    </div>
    <div class="contenidoBlack">
    <div [ngClass]="{ TextoBlack: activatetextoblack === 0, 
        TextoBlackFrame: activatetextoblack === 1 }">
        ¿NO ENCUENTRAS EL REPUESTO QUE BUSCAS ?  
    </div>
    <button class="ventasBot">
        HABLEMOS
    </button>
    </div>
    </div>    

<div class="cargaPesada">
    <div class="backAc">
        
    </div>
    <div class="container">
        <div [ngClass]="{ ac1: activateac1 === 0, 
            ac1Frame: activateac1 === 1 }">
            <div class="tituloAc1">
                TRANSPORTE DE CARGA
            </div>
            <div>
                En Dajocars, nos esforazmos por tener repuestos de calidad
                Repuestos de carga pesada es un compromiso
                con nuestros clientes y nuestra trayectoria así 
                lo demuestra. Sabemos la importancia que significa 
                el transporte en tu empresa, por eso nos esforzamos 
                por ofrecerte repuestos de primera calidad.
                <br><br>
                Marcas como Iveco, Jac, Mercedes son unas de nuestras
                especialidades, tanto originales como genericos, 
                segun disponibilidad y economia. Lo mas importante
                para nosotros es satisfacer la necesidades de nuestros clientes.
                <br><br>
                Marcas como Iveco, Jac, Mercedes son unas de nuestras
                especialidades, tanto originales como genericos, 
                segun disponibilidad y economia. Lo mas importante
                para nosotros es satisfacer la necesidades de nuestros clientes.
                <br><br><br>
                <div class="info">
                    Más información
                </div>
            </div>
        </div>
        
        <div class="ac2">
            <img src="assets/images/backGround/mercedesCamion.png">
        </div>
    </div>
    <div class="windowAcordeon">
        <div class="tituloWac">
            <div>
              REPUESTOS DE CARGA PESADA
            </div>
            <div>
            
            </div>
        </div>
        <div class="contenidoAc">
           Repuestos para tu transporte con
            ciertas características 
            para el trabajo pesado.
            Todo tipo de repuestos para tu transporte de carga
            , camiones, buses, busetas.
        </div>
        <div class="search">
            <button class="button">
                DESCUBRE MÁS
                <div class="arrow rightArrow">

                </div>
            </button>
        </div>
    </div>
</div>

<div class="backGray">
    <div class="shell">
        <img src="assets/images/backGround/shell100.png" class="imgFront" alt="">
    </div>
    <div class="shell">
        <img src="assets/images/backGround/mopar100.png" class="imgFront" alt="">
    </div>
    <div class="shell">
        <img src="assets/images/backGround/pennzoli100.png" class="imgFront" alt="">
    </div>
    <div class="shell">
        <img src="assets/images/backGround/mobil100.png" class="imgFront" alt="">
    </div>
</div>

<div class="container4">
    <div class="aceites">
        <!-- <div class="aceite1">
            <img src="assets/images/backGround/aceiteMotor1.png" alt="">
        </div> -->
        <div class="containerTextoAceite">
            <div class="tituloAceites">
                LUBRICANTES + ACEITES
            </div>
            <div class="textAceites">
                Aumenta los años de vida a tu motor <br>
                <div class="masInfo">Más información</div>
            </div>
        </div>
        
        <div class="aceite2">
            <!-- <img src="assets/images/backGround/aceitesBack.png" alt=""> -->
        </div>    
    </div>
    <div class="autopartes">
        
        <div class="textoAutoparte">
            <div class="tituloAuto">
                AUTOPARTES + CAUCHOS
            </div>
            <div class="textAuto">
                Suma piezas de valor
                a tu vehículo
                <br>
                <div class="masInfo">Más información</div>

            </div>
        </div>  
        <div class="imageAuto">
            <img src="assets/images/backGround/cauchos.png" alt="">
        </div>
    </div>

    <div class="camino">
        <div class="textoCamino">
                <div class="tituloCamino">
                    RUTAS EXTREMAS
                </div>
                <div class="contenidoCamino">
                    Te acompañamos a completar caminos exigentes
                    <br>
                    Repuestos que dan vida y seguridad
                </div>               
        </div>
        <div class="imgCamino">
            <img src="assets/images/backGround/pickup2.png" alt="">
        </div>
    </div>

    <div class="terrenos">        
        <div class="imgterrenos">
            <!-- <img src="assets/images/backGround/cualquierTerreno.jpg" alt=""> -->
        </div>
        <div class="textoterrenos">
            <div class="tituloterrenos">
                CUALQUIER TERRENO
            </div>
            <div class="contenidoterrenos">
                Somos parte de tu equipo de viaje <br>
                Te ofrecemos constantes promociones para premiarte <br>
                Dajo Cars es parte de ti en cualquier terreno <br>

               
            </div>               
    </div>
    </div>
</div>

<div class="servicios">
<div class="tituloServicio">
    Servicios
</div>
<div class="gridContainer">
<div class="windowComun">
    <div>
        <img src="assets/images/backGround/delivery.png" alt="">
    </div>
    <div class="titulo">
        Entrega rápida
    </div>
    <div class="texto">
        Contamos con los mejores
        servicios de entrega. Además nuestro personal
        está altamente capacitado para surtir en tiempo record.
        Siempre dedicados a satisfacer a nuestros clientes.
    </div>
</div>
<div class="windowComun">
    <div>
        <img src="assets/images/backGround/247.png" alt="">
    </div>
    <div class="titulo">
        Horario flexible
    </div>
    <div class="texto">
        Contamos con los mejores
        servicios de entrega. Además nuestro personal
        está altamente capacitado para surtir en tiempo record.
        Siempre dedicados a satisfacer a nuestros clientes.
    </div>
</div>
<div class="windowComun">
    <div>
        <img src="assets/images/backGround/atencion.png" alt="">
    </div>
    <div class="titulo">
        Atención
    </div>
    <div class="texto">
        Contamos con los mejores
        servicios de entrega. Además nuestro personal
        está altamente capacitado para surtir en tiempo record.
        Siempre dedicados a satisfacer a nuestros clientes.
    </div>
</div>
</div>

</div>

<div class="backGreen">
    <div class="ubication">
        <img src="assets/images/backGround/ubication.png">
    </div>
    <div class="map">
        <img src="assets/images/backGround/ubication.png" width="90%" height="90%">
    </div>
    <div class="mapC">
        <img src="assets/images/backGround/ubication.png">
    </div>
    <div class="mapD">
        <img src="assets/images/backGround/ubication.png">
    </div>
    <div class="titulo">
        Contacta a nuestro equipo de ventas
    </div>
    <div class="botones">
        <button class="ubiBot">
            NUESTRA SEDE
        </button>
        <button class="ventasBot">
            CONTACTARSE CON VENTAS
        </button>
    </div>

</div>

<div class="backM4">
    <div class="left">
        <img src="assets/images/backGround/jeepFoot.png">
    </div>
    <div class="right">
        <div class="columnRight">
            <div class="tituloW">
                VEHÍCULOS
            </div>
            <ul class="lista">
                <li>
                    Wrangler
                </li>
                <li>
                    Grand Cherokee
                </li>
                <li>
                    Cherokee
                </li>
                <li>
                    Renegade
                </li>
                <li>
                    Compass
                </li>
                <li>
                    Gladiator
                </li>
                <li>
                    Renegade
                </li>
            </ul>
        </div>
        <div class="columnRight">
            <div class="tituloW">
                MARCAS
            </div>
            <ul class="lista">
                <li>
                    Jeep
                </li>
                <li>
                    Ford
                </li>
                <li>
                    Chevrolet
                </li>
                <li>
                    Jac
                </li>
                <li>
                    Renault
                </li>
                <li>
                    Fiat
                </li>
                <li>
                    Seat
                </li>
                <li>
                    Lexus
                </li>
                <li>
                    BMW
                </li>
            </ul>
        </div>
        <div class="columnRight">
            <div class="tituloW">
                SERVICIOS
            </div>
            <ul class="lista">
                <li>
                    Entrega a domicilio
                </li>
                <li>
                    Atención personalizada
                </li>
                <li>
                    Equipo de primera
                </li>
                <li>
                    Entrega a nivel nacional
                </li>
            </ul>
        </div>
    </div>
    <div class="contacto">
        <div class="tituloW">
                SÍGUENOS
            </div>
            <div class="redes">
                <img src="assets/images/backGround/instagram.png">
                <img src="assets/images/backGround/facebook.png">
            </div>        
            <div class="tituloW">
                TELÉFONOS
            </div>
            <div class="telf">
                <div>
                    +584140721247
                </div>
                <div>
                    +582124578454
                </div>
            </div>   
            <div class="tituloW">
                MAIL
            </div>
            <div class="mail">
                <div>
                   ventas@dajocars.com
                </div>
            </div> 
            <div class="tituloW">
                DIRECCIÓN
            </div>
            <div class="mail">
                <div>
                   Carrera 23 entre calle 16 y 17
                </div>
                <div>
                    Barquisimeto - Vanezuela
                </div>
            </div> 
    </div>
</div>

<div class="footer">
    <div class="text">
        @DAJO CARS 2020 / Desarrollado por BunkerWeb +58 4149107785
    </div>
</div>
<!-- 
<div class="backMedium">
    <div class="backM1">
        PRODUCTOS CON SELLO DE CALIDAD
    </div>
    <div class="backM2">
        <img src="assets/images/backGround/rubi.jpg" alt="">
    </div>

</div> -->