<div class="whatsapp-m">
    <a href="https://api.whatsapp.com/send?phone=+584140721247&text=Pregunte por sus repuestos" target="_blank">
        <img src="assets/images/backGround/whatsapp.png" width="50px" height="50px" class="imgWhatsapp" alt="">
    </a>
</div>

<div class="back-m">
    <div class="imgLogo">
        <img src="assets/images/backGround/JeepLogo.png" width="50%" height="50%">
    </div>

    <div class="imgLogo">
        <img src="assets/images/backGround/FordLogo.png" width="50%" height="50%">
    </div>

    <div class="imgLogo">
        <img src="assets/images/backGround/ChevLogo.png" width="50%" height="50%">
    </div>

    <div class="imgLogo">
        <img src="assets/images/backGround/jacLogo.png" width="50%" height="50%">
    </div>
    <div class="imgLogo">
        <img src="assets/images/backGround/hyundai.png" width="50%" height="50%">
    </div>
</div>

<div class="backM3">
    <img src="assets/images/backGround/jeepOverview.png" width="100%" alt="">
</div>

<div class="windowEmerg-m">
    <div class="body">
        <div class="logos">
            <img src="assets/images/backGround/calidad.png" width="40px" height="40px">
            <!-- <img src="assets/images/backGround/FordLogo.png" width="80px" height="30px" class="">
      <img src="assets/images/backGround/ChevLogo.png" width="80px" height="35px" class=""> -->
        </div>

        <div>
            SOMOS GARANTÍA DE CALIDAD Y EXCELENCIA
            <div class="lideres">
                LÍDERES DE VENEZUELA EN AUTOPARTES
            </div>
        </div>
        <div class="search">
            <!-- <a href="https://api.whatsapp.com/send?phone=+584140721247&text=Pregunte por sus repuestos" target="_blank">
                <button class="button">
                    DESCUBRE MÁS
                    <div class="arrow rightArrow">
    
                    </div>
                </button>
            </a>             -->
        </div>
    </div>
</div>

<div class="backJeepM">
        <div class="interroga1">
            <div class="letras tituloInterroga1">
                <div class="wrap">
                    <div>TIENES <br> UN</div>            
                </div>
                
            </div>
        </div>

    <div class="backJeep2">
        <img src="assets/images/backGround/jeepImg.png" width="180px" height="125px" alt="">
    </div>
    <div class="backJeep3">   
        <div class="backJ">                
            <div class="interroga2">
                
                <!-- <div class="descr_interr2">
                    Soluciones al momento con la mejor calidad
                </div> -->
                
                <div class="wrap tituloInterroga2">
                    <div>TODO</div>            
                    <div>TERRENO</div>
                </div>            
            </div>
        </div> 
    </div>
    
    <div class="inte1">
        <img src="assets/images/backGround/interroga1.png" width="60px" height="90px" alt="">        
    </div>
<div class="inte2">
    <img src="assets/images/backGround/interroga2.png" width="60px" height="90px" alt="">    
</div>

</div>

<div class="backBlackM">
    <div class="backChasisM">
        <img src="assets/images/backGround/backJeep.png" width="80px" height="80px" alt="">
    </div>
    <div class="backChasis2M">
        <img src="assets/images/backGround/backJeep.png" width="80px" height="80px" alt="">
    </div>
    <div class="contenidoBlackM">
    <div class="TextoBlackM">
        ¿NO ENCUENTRAS EL REPUESTO QUE BUSCAS ?  
    </div>
    <a href="https://api.whatsapp.com/send?phone=+584140721247&text=Pregunte por sus repuestos" target="_blank">
        <button class="ventasBotM">
            HABLEMOS
        </button>
    </a>    
    </div>
 </div> 

<div class="backGreenM">
        <div class="ubicationM">
            <img src="assets/images/backGround/ubication.png" width="70" height="70">
        </div>
        <div class="mapM">
            <img src="assets/images/backGround/ubication.png" width="70" height="70">
        </div>
        <div class="mapCM">
            <img src="assets/images/backGround/ubication.png" width="80" height="80">
        </div>
        <div class="mapDM">
            <img src="assets/images/backGround/ubication.png" width="80" height="80">
        </div>
        <div class="tituloM">
            Contacta a nuestro equipo de ventas
        </div>
        <div class="botonesM">
            <button class="ubiBotM">
                NUESTRA SEDE
            </button>
        <a href="https://api.whatsapp.com/send?phone=+584140721247&text=Pregunte por sus repuestos" target="_blank">
            <button class="ventasBotM">
                CONTACTARSE CON VENTAS
            </button>
        </a>
        </div>
    
</div>

<div class="backM4M">
        <div class="left">
            <img src="assets/images/backGround/jeepFoot.png" width="140" height="140">
        </div>

        <div class="contacto">
            <div class="tituloW">
                    SÍGUENOS
                </div>
                <div class="redes">
                    <img src="assets/images/backGround/instagram.png" width="20" height="20">
                    <img src="assets/images/backGround/facebook.png" width="20" height="20">
                </div>        
                <div class="tituloW tituloWT">
                    TELÉFONOS
                </div>
                <div class="telf_mail">
                    <div>
                        +584140721247
                    </div>
                    <div>
                        +582124578454
                    </div>
                </div>   
                <div class="tituloW tituloWT">
                    MAIL
                </div>
                <div class="telf_mail">
                    <div>
                       ventas@dajocars.com
                    </div>
                </div> 
                <div class="tituloW tituloWT">
                    DIRECCIÓN
                </div>
                <div class="mail">
                    <div>
                       Carrera 23 entre calle 16 y 17
                    </div>
                    <div>
                        Barquisimeto - Vanezuela
                    </div>
                </div> 
        </div>
</div>

<div class="footerM">
        <div class="text">
            @DAJO CARS 2020 / Desarrollado por BunkerWeb +58 4149107785
        </div>
</div>
