.whatsapp-m {
    position: fixed;
    right: 10px;
    z-index: 10000;
    top: 150px;
    cursor: pointer;    
}

.back-m {
    display: flex;
    background-color: #2c2c2c;
    border-top: 1px solid #366B05;
    border-bottom: 1px solid #366B05;
    text-align: center;
    
}

.windowEmerg-m {
    background-color: rgba(0, 0, 0, 0.6);
    color: #f9f9f9;
    position: absolute;
    top: 40px;
    right: 1%;
    left: 1%;
    height: 95px;
    padding: 1%;
    z-index: 100;
    border-radius: 3px;
    font-size: 0.6rem;
    .body {
        text-align: center;
        margin-top: 1px;
    }
}

.letras {    
    //   padding-left: 30px;       
    //   max-width: 250px;
    white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
    white-space: -webkit-pre-wrap;          /* Chrome & Safari */ 
    white-space: -pre-wrap;                 /* Opera 4-6 */
    white-space: -o-pre-wrap;               /* Opera 7 */
    white-space: pre-wrap;                  /* CSS3 */
    word-wrap: break-word;                  /* Internet Explorer 5.5+ */
    white-space: normal;
       .tituloLetras {
           font-size: 6rem;
           display: inline-block;
           line-height: 84px;
           height: 85px;
           margin-top: 50%;
           opacity: 0;
       }
       .tituloLetrasFrame {
           font-size: 6rem;
           display: inline-block;
           line-height: 84px;
           height: 85px;
       }
   }

.backJeepM {
    // display: flex;
    // justify-content: space-evenly;
     position: relative;

.interroga1 {
    top: 20px;
    position: absolute;
    left: 10px;
 
    
    .tituloInterroga1 {
        font-size: 1.2rem;
        font-weight: bold;
}

}

.backJeep2 {
    position: absolute;
left: 50%;
-webkit-transform: translateX(-50%);
transform: translateX(-50%)
    
}

.backJeep3 {
 

    .interroga2 {
        
        .descr_interr2 {
            font-size: 0.7rem;
            top: 10px;
            position: absolute;
            right: 10px;

          
        }

        .tituloInterroga2 {
            font-size: 1.2rem;
            font-weight: bold;
            top: 40px;
            position: absolute;
            right: 10px;
    }    
    }
}

    .inte1 {
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0.2;
    }
    .inte2 {
        position: absolute;
        right: 0;
        top: 25px;
        opacity: 0.2;
    }
}

.wrap {
    white-space: pre-wrap;
    /* CSS3 */
    white-space: -moz-pre-wrap;
    /* Firefox */
    white-space: -pre-wrap;
    /* Opera <7 */
    white-space: -o-pre-wrap;
    /* Opera 7 */
    word-wrap: break-word;
    /* IE */
}

// Para Mobile
.backGreenM {
    background-color: #259806;
    //    padding: 150px 150px;
    height: 140px;
    position: relative;
    top: 130px;

    .tituloM {
        text-align: center;
        padding-top: 25px;
        color: white;
        font-size: 1rem;
        font-weight: bold;
    }

    .ubicationM {
        opacity: 0.2;
        position: absolute;
        top: 15px;
        left: 25px;
        -ms-transform: rotate(-20deg);
        /* IE 9 */
        transform: rotate(-20deg);
    }

    .mapM {
        opacity: 0.1;
        top: 35px;
        left: 7px;
        position: absolute;
    }

    .mapCM {
        opacity: 0.2;
        top: 40px;
        right: 17px;
        position: absolute;
    }

    .mapDM {
        opacity: 0.1;
        top: 20px;
        right: 3px;
        position: absolute;

    }

    .botonesM {
        text-align: center;
        padding-top: 20px;

        .ubiBotM {
            background-color: white;
            color: #259806;
            border-radius: 4px;
            border: 2px solid #ffffff;
            padding: 7px 25px;
            font-size: 0.6rem;
            font-weight: bold;
        }

        .ventasBotM {
            margin-left: 10px;
            border-radius: 4px;
            border: 2px solid #ffffff;
            color: white;
            background-color: #259806;
            padding: 7px 25px;
            font-size: 0.6rem;
            font-weight: bold;
        }

        .ventasBotM:hover {
            background-color: #ffffff;
            color: #259806;
        }
    }

}

// Para Mobile
.backBlackM {
    background-color: #242424;
    height: 100px;
    position: relative;
    top: 130px;
    .backChasisM {
        position: absolute;
        left: 0;
        opacity: 0.1;
    }
    .backChasis2M {
        position: absolute;
        right: 0;
        opacity: 0.1;
    }
.contenidoBlackM {
    left: 0;
    right: 0;
    top: 13px;
    position: absolute;
    text-align: center;

    .TextoBlackM {
        color: #f0f0f0;
        font-size: 0.9rem;
        margin-bottom: 10px;
    }
    .ventasBotM {
        margin-left: 10px;
        border-radius: 4px;
        border: 2px solid #ffffff;
        background-color: #ffffff;
        color: #259806;
        padding: 3px 11px;
    font-size: 0.6rem;
        font-weight: bold;
    }

    .ventasBotM:hover {
        background-color: #ffffff;
        color: #259806;
    }
}
}

.backM4M {
    position: relative;
    top: 120px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background-color: #313131;

    .left {
        opacity: 0.3;
        grid-column-start: 1;
    }

    .contacto {
        color: #ababab;
        text-align: end;
        .tituloW {
            margin-top: 0px;
            color: white;
            font-size: 0.6rem;
        }
        .tituloWT {
            margin-top: 10px;
        }
.telf_mail {
    font-size: 0.6rem;
}
.mail {
    font-size: 0.6rem;
}
        .redes {
            opacity: 0.4;
            cursor: pointer;
        }
    }
}

.footerM {
    background-color: #242424;
    color: #7d7d7d;
    width: 100%;
    position: relative;
    top: 120px;
    height: 110px;
    /* line-height: 90px; */
    /* display: flex; */
    font-size: 0.5rem;
    
    .text {
        font-size: 0.5rem;
        padding: 8px 0px 8px 20px;
    }
}