.container {
    
    background-color: white;
    display: flex;
    align-items: center;
    font-weight: bold;
   // border-radius: 3px;
    z-index: 10000; 
    height: 60px;
    top: 0;
   // margin-left: 5px;
    .logo {
    margin: 0 auto;
    padding: 5px 5px;
    }
    .leftSide {
    // margin: 0 auto;
   //  margin-top: 30px;
     a {
         margin-left: 9px;
         color: #678946;
     }
    }   
 }
 .containerRelative {
     z-index: 10000; 
     min-width: 90%;
     -webkit-box-shadow: 0px 7px 13px 0px rgba(36,36,36,1);
     -moz-box-shadow: 0px 7px 13px 0px rgba(36,36,36,1);
     box-shadow: 0px 7px 13px 0px rgba(36,36,36,1);
 }
//  .containerFixed {
//      z-index: 10000; 
//      min-width: 100%;
//      transition: min-width 0.8s;
//     border-radius: 0px;
//     -webkit-box-shadow: 0px 2px 5px 0px rgba(237,237,237,1);
//     -moz-box-shadow: 0px 2px 5px 0px rgba(237,237,237,1);
//     box-shadow: 0px 2px 5px 0px rgba(237,237,237,1);
//      // background-color: #000000;
//      // color: #f9f9f9;
//  }
 