.imageBack {
    // background-image: url('');    
   // height: 570px; 
   height: 100%;
    position: relative;
    width:100%;
    z-index: -100000;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}

.windowEmergTop {
    background-color: rgba(0,0,0,0.5);
    color: #f9f9f9;
    position: absolute;
    top: 80px;
    left: 5%;
    height: 130px;
    padding: 7px;
    //width: 200px;
    z-index: 100;
    border-radius: 3px;
    text-align: center;
    .logos {
        display: flex;
        justify-content: center;
        
    }
    .titulo {
        font-size: 0.6rem;
        font-weight: bold;
        margin-top: 2px;
    }
    .sec1 {
        font-size: 0.3rem;
    }
    .search {
        margin-top: 10px;
    }
    button {
        background-color: #303030;
        border: 1px solid #272727;
        border-radius: 3px;
        color: #d0d0d0;
        padding: 7px;
        font-size: 0.6rem;
        margin-top: 5px;
        cursor: pointer;
    }    
    input {
        border: 1px solid #7A7A7A;
        border-radius: 3px;
        color: #4C4C4C;
        padding: 9px;
        font-size: 0.8rem;
        width: 270px;
    }
}